html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%
}

.header {
    display: flex;
    background-color: #00006e;
    color: #F2F2F2;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}

.header a {
    color: orange;
}

ul.subjects {
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    text-align: center

}

a {
    text-decoration: none;
    text-transform: capitalize;
}

.title {
    text-transform: capitalize;
    font-size: 1.5rem
}

ul.subjects li {
    padding: 1em;
    margin: 1em;
    box-sizing: border-box;
}

.sub {
    border-radius: 1em;
    padding: 1em 2em;
    color: white;
    width: 8em;
}

.p {
    background-color: green;
}

.tech {
    background-color: black;
}

.tac {
    background-color: blue;

}

.com {
    background-color: orange;
}

.att {
    background-color: purple;
}

.sco {
    background-color: magenta;
}

.row {
    width: 100%;
}

.each {
    display: flex;
    margin: 1em 0;
    background-color: #f2f2f2;
    justify-content: space-between;
    align-items: end;
}

.each > div:first-child {
    flex: 3;
}

.each > div:last-child {
    flex: 2;
}

.each label {
    display: block
}

.each span {
    text-transform: capitalize;
}

.btn-set {
    display: flex;
}

.flag {
    width: .5em;
    height: 1em;
    background-color: red;
}

.row {
  overflow-x: auto;
  max-width: 100%;
}

.row table {
  border-collapse: collapse;
  /* width: max-content; */ /* allows table to grow beyond container */
  /* min-width: 100%; */
  /* white-space: nowrap; */
}

.row table th,
.row table td {
  border: 1px solid #ccc;
  padding: 8px 12px;
  text-align: left;
}

.row table thead {
  background-color: #f2f2f2;
}

/* Add rounded corners */
.row table {
    border-radius: 10px;
    overflow: hidden;
}

/* Zebra striping */
.row table tr:nth-child(even) {
    background-color: #f9f9f9;
}
